# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Models (Optional - keeping them in repo for this demo, uncomment to ignore)
# model/*.pkl
